<!--<a href="https://demos.telerik.com/kendo-ui/upload/templates">https://demos.telerik.com/kendo-ui/upload/templates</a>-->
<!--https://developer.mozilla.org/en-US/docs/Web/Events/dragexit-->
<!--https://stackoverflow.com/questions/40214772/file-upload-in-angular#answer-47597472-->

<div
  class="ui-upload-wrapper"
  (dragover)="onDragOverFile($event)"
  (drop)="onDropFile($event)"
  (dragleave)="onDragLeaveFile($event)">
  <div
    class="ui-upload"
    [ngClass]="{'ui-upload--over': fileStatusMessage}">
    <div class="ui-upload__btn">
      <input
        type="file"
        name="file"
        id="files"
        class="ui-upload__btn-input"
        data-role="upload"
        multiple="multiple"
        autocomplete="off"
        (change)="selectFile($event)">
      <span class="ui-upload__btn-label">Select files...</span>
    </div>
    <div class="ui-upload__status-message-wrapper"></div>
    <div
      class="ui-upload__status-message"
      *ngIf="fileStatusMessage">Drop files here to upload</div>
  </div>
  <ul class="ui-upload__files">
    <li
      class="ui-upload__file"
      *ngFor="let file of fileList">
      <div class="ui-upload__file-progress">
        <div class="ui-upload__file-progress-bar"></div>
      </div>
      <div class="ui-upload__file-wrapper">
        <span class="ui-upload__file-icon"></span>
        <h4 class="ui-upload__file-heading">Name: {{file.name}}</h4>
        <h4 class="ui-upload__file-size-heading">Size: {{file.size}} bytes</h4>
        <button type="button" (click)="removeFile($event)" class="ui-upload__file-remove"></button>
      </div>
    </li>
  </ul>
  <div
    class="ui-upload__buttons">
    <button
      class="ui-upload__button"
      type="button"
      (click)="resetButton()">Reset</button>
    <button
      class="ui-upload__button"
      type="button"
      (click)="uploadButton($event)">Upload</button>
  </div>
  <div 
    *ngIf="addedFilesStatus"
    class="ui-upload__added-files-status">Please add files!</div>
</div>
